.search-topline {
	position: relative;

	&__content {
		padding: 75px 0;
	}
}

.search-form {

	&__inner-holder {
		position: relative;
		width: 500px;
	}
	&__input {
		padding: 20px 0;
		padding-left: 55px;
		border: 1px solid #f2f2f2;
		font-family: "Roboto-Regular", sans-serif;
		font-size: 16px;
		width: 100%;
		outline: none;
		&::placeholder {
			color: #d2d2d2;
		}
	}

	&__submit-label {
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 30px;
		height: 30px;
		cursor: pointer;
		&:before {
			content: '\f002';
			font-family: "FontAwesome", sans-serif;
			color: #d2d2d2;
			
		}
		&:hover,
		&:active,
		&:focus {
			&:before {
				color: #969696;
			}
		}
	}
	&__submit-btn {
		display: none;
	}

	&__reset-label {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 30px;
		height: 30px;
		cursor: pointer;
		color: #d2d2d2;
		text-align: center;
		
		&:before {
			content: '\f057';
			font-family: "FontAwesome", sans-serif;
			display: block;
		}

		&:hover,
		&:active,
		&:focus, {
			&:before {
				color: #969696;
			}
		}
	}
	&__reset-btn {
		display: none;
	}
}



@media (max-width: 992px) {
	.search-form {
		&__inner-holder {
			width: 100%;
		}

	}
}