.search-results {
	&__title-wrapper {
		border-bottom: 1px solid #f2f2f2;
		padding-bottom: 15px;
	}
	&__title {
		.page-titling;
		text-transform: uppercase;
		color: #333;
		padding-left: 0;
		position: relative;
		margin-bottom: 65px;
		&:before {
			content: '';
			height: 6px;
			width: 60px;
			background: #a9ce4f;
			position: absolute;
			top: 20px;
			right: 100%;
			margin-right: 30px;
		}
	}
	&__res-coutn {
		font-family: "Roboto-Regular", sans-serif;
		font-size: 16px;
		color: #cacaca;
	}
}


.result-item {
	padding: 45px 0;
	padding-left: 16.34%;
	padding-right: 50%;
	border-bottom: 1px solid #f2f2f2;
	&__title {
		.subtitling;
		padding-bottom: 45px;
		text-transform: uppercase;
	}
	&__text {
		.common-text;
		text-align: justify;
	}
	&__subtitle {
		font-family: "Roboto-Bold", sans-serif;
		font-size: 18px;
		margin-top: 45px;
	}
	&__list-item {
		.common-text;
		line-height: 3;
		padding-left: 25px;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			background: #0077b3;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			top: 50%;
			margin-top: -5px;
			left: 0;
		}
	}
	&__link-over {
		font-family: "ProximaNovaExCn-Regular", sans-serif;
		font-size: 30px;
		color: #00aae1;
		margin-top: 20px;
		display: inline-block;
		&:hover,
		&:active,
		&:focus {
			color: darken(#00aae1, 10%);
		}
	}
}

@media (max-width: 992px) {
	.search-results {
		&__title {
			padding-left: 80px;
			&:before {
				left: 0;
				margin-right: 0;
			}
		}
	}
	.result-item {
		padding-right: 16.34%;
	}
}

@media (max-width: 768px) {
	.result-item {
		padding-right: 5%;
		padding-left: 5%;
	}
}