.development-services {
	overflow: hidden;

	&__content {
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
		padding-top: 100px;
		padding-left: 100px;
		padding-bottom: 120px;
		position: relative;
		padding-right: 30px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 220px;
			height: 220px;
			background: #a9ce4f;
			right: 100%;
			margin-top: -40px;
			margin-right: -30px;
		}
	}
	&__title {
		.subtitling;
		padding-right: 10px;
	}
	&__list-holder {
		margin-top: 80px;
	}
	&__list-row {
		display: flex;
		margin: 0 -40px;
		margin-bottom: 75px;
		&:last-child {
			margin-bottom: 0px;
		}
		
		&.abs-right {
			.abs-box {
				right: -40px;
				top: 0;
				z-index: -1;
			}
		}

		&.abs-screen-left {
			.abs-box {
				right: 120%;
			}
		}

		&.abs-half-right {
			.abs-box {
				left: 100%;
				margin-top: -100px;
				transform: translateX(-20%);
				z-index: -1;
			}
		}
	}

	&__list-item {
		margin: 0 40px;
		flex: 1 0 30%;
		padding-left: 60px;
		margin-bottom: 30px;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 20px;
			height: 80px;
			background: #00aae1;
			left: 0;
			top: 0;
		}
	}
}

.devlist-item {
	&--30per {
		padding-right: 30%;
	}

	&__title {
		.common-text;
		font-family: "Roboto-bold", sans-serif;
		font-size: 18px;
		margin-bottom: 35px;
	}
	&__text {
		.common-text;
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 35px;
		padding-left: 30px;
	}

	&__innerlist-item {
		.common-text;
		position: relative;
		padding-left: 30px;
		margin-bottom: 35px;
		&:last-child {
			margin-bottom: 0;
		}
		

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #0077b3;
			left: 0;
			top: 10px;
		}
	}
}



@media (max-width: 1450px) {
	.devlist-item {

		&__title {
			font-size: 16px;
		}

		&__text {
			font-size: 14px;
		}
		&__innerlist-item {
			font-size: 14px;
		}
	}
}

@media (max-width: 1200px) {

	.development-services {

		&__list-row {
			flex-direction: column;
			margin-bottom: 0;
		}
	}

	.devlist-item {

		&__title {
			font-size: 16px;
		}

		&__text {
			font-size: 14px;
			margin-bottom: 15px;
		}
		&__innerlist-item {
			font-size: 14px;
			margin-bottom: 15px;
		}
	}
}

@media (max-width: 992px) {
	.development-services {

		&__content {
			padding-right: 10px;
			padding-bottom: 100px;
			&:before {
				width: 60px;
				height: 60px;
				margin-right: 0;
				margin-top: 0;
				left: 0;
			}
		}
	}
}

@media (max-width: 510px) {
	.development-services {

		&__content {
			padding-left: 20px;
			padding-bottom: 30px;
			&:before {
				position: relative;
				float: left;
				margin-right: 30px;
			}
		}
	}
	.devlist-item {
		&--30per {
			padding-right: 0;
		}
	}
}

