.development-header {
	background-image: url(../img/bg/development/dev-main-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&__content {
		padding-top: 160px;
		padding-bottom: 170px;
	}
	&__title {
		.page-titling;
		width: 60%;
	}
}