.development-specialblock {
	background: #00aae1;
	position: relative;
	&__content {
		padding-right: 33%;
		display: flex;
		align-items: stretch;
		height: 100%;
		box-sizing: border-box;
	}
	&__bg {
		position: relative;
		flex: 1 0 33.3%;
		background-image: url(../img/bg/development/dev-content-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: 33.3%;

	}
	&__text {
		flex: 1 0 33.3%;
		.common-text;
		color: #fff;
		padding-left: 80px;
		padding-top: 100px;
		padding-bottom: 100px;
		text-align: justify;
	}
}


@media (max-width: 1170px) {
	.development-specialblock {
		&__content {
			padding-right: 0;
		}
		&__bg {
			flex-basis: 40%;
		}
		&__text {
			flex-basis: 60%;
			padding-right: 80px;
		}

	}
}

@media (max-width: 992px) {
	.development-specialblock {

		&__text {
			padding-top: 50px;
			padding-bottom: 50px;
		}

	}
}

@media (max-width: 768px) {
	.development-specialblock {

		&__text {
			padding: 30px;
			font-size: 14px;
		}
	}
}

@media (max-width: 545px) {
	.development-specialblock {

		&__bg {
			display: none;
		}
		&__text {
			padding: 30px;
			font-size: 14px;
			text-align: left;
		}
	}
}