.coaching-services {
	overflow: hidden;
	&__content {
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
		padding-top: 100px;
		padding-left: 100px;
		padding-bottom: 0;
		position: relative;
		padding-right: 30px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 220px;
			height: 220px;
			background: #a9ce4f;
			right: 100%;
			margin-top: -40px;
			margin-right: -30px;
		}
		&--blue-block {
			padding-bottom: 65px;
			&:before {
				background: #00aae1;
			}
			.abs-box {
				left: 100%;
				top: 100px;
				&--second {
					margin-left: 220px;
					top: 320px;
				}
			}
		}
		&--study-programs {
			padding-bottom: 130px;
		}
	}
	&__title {
		.subtitling;
		padding-right: 10px;
	}
	&__list-holder {
		margin-top: 80px;
	}
	&__list-row {
		display: flex;
		margin: 0 -40px;
	}
	&__list-item {
		.common-text;
		margin: 0 40px;
		flex: 1 0 30%;
		padding-left: 15px;
		margin-bottom: 30px;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #0077b3;
			left: 0;
			top: 10px;
		}
		&--40per {
			width: 40%;
			flex: 0 0 auto;
		}
		&--bluebox {
			padding-left: 24px;
			&:before {
				width: 12px;
				height: 12px;
				background: #00aae1;
				border-radius: 0;
				top: 6px;
			}
		}
	}

	&__text {
		.common-text;
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
		margin-right: 25%;
		padding-top: 80px;
	}
}



@media (max-width: 992px) {
	.coaching-services {

		&__content {
			padding-right: 10px;
			padding-bottom: 100px;
			&:before {
				width: 60px;
				height: 60px;
				margin-right: 0;
				margin-top: 0;
				left: 0;
			}
		}
		&__text {
			padding-top: 0;
		}
	}
}

@media (max-width: 768px) {
	.coaching-services {

		&__content {
			padding-left: 20px;
			padding-bottom: 30px;
			&:before {
				position: relative;
				float: left;
				margin-right: 30px;
			}
		}
		&__list-holder {
			flex-direction: column;
			margin: 0;
			margin-top: 50px;
		}

		&__list-row {
			flex-direction: column;
			margin-left: 0;
			margin-right: 0;
		}
		&__list-item {
			margin-bottom: 30px;
			margin-left: 0;
			margin-right: 0;
			&--40per {
				width: 100%;
			}
		}
	}
}