.coaching-specialblock {
	position: relative;
	&__content {
		padding-right: 33%;
		display: flex;
		align-items: stretch;
		height: 100%;
		box-sizing: border-box;
	}
	&__bg {
		position: relative;
		flex: 1 0 33.3%;
		background-image: url(../img/bg/coaching/coaching-content-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: 33.3%;

	}
	&__text {
		flex: 1 0 33.3%;
		.common-text;
		color: #000;
		padding-left: 60px;
		padding-top: 60px;
		padding-bottom: 60px;
		text-align: justify;
	}
}


@media (max-width: 1200px) {
	.coaching-specialblock {
		&__bg {
			width: 15%;
			flex-basis: 15%;
			margin: 100px 0;
		}
	}
}

@media (max-width: 992px) {
	.coaching-specialblock {
		&__content {
			padding-right: 0;
		}
		&__bg {
			width: 25%;
			flex-basis: 25%
		}
		&__text {
			width: 75%;
			flex-basis: 75%
		}

	}
}

@media (max-width: 768px) {
	.coaching-specialblock {
		&__content {
			display: block;
			overflow: hidden;
		}
		&__bg {
			float: left;
			width: 30%;
			height: 100px;
			margin: 0;
			margin-top: 40px;
			margin-right: 20px;
			margin-left: 10px;
		}
		&__text {
			width: 100%;
			padding: 30px 10px;
		}
	}
}
