.coaching-descrip {
	position: relative;
	&__label {
		.common-text;
		text-align: justify;
		position: relative;
		background: #fff;
		padding-left: 90px;
		padding-top: 75px;
		padding-bottom: 20px;
		padding-right: 8.37%;
		width: 55%;
		top: -70px;
	}
}


@media (max-width: 992px) {
	.coaching-descrip {
		&__label {
			padding-right: 8%;
			padding-left: 8%;
			padding-top: 30px;
			padding-bottom: 30px;
			width: 80%;
		}
	}
}

@media (max-width: 768px) {
	.coaching-descrip {
		&__label {
			font-size: 14px;
			width: 90%;
		}
	}
}


@media (max-width: 450px) {
	.coaching-descrip {
		&__label {
			width: 100%;
			padding-bottom: 0;
			text-align: left;
		}
	}
}