.contacts-map {
	padding-top: 95px;
	padding-bottom: 130px;
	&__content {
		padding-left: 11.66%;
		padding-right: 11.66%;
	}
	&__title {
		.subtitling;
		margin-bottom: 60px;
	}

	&__responsive-holder {
		width: 100%;
		height: 0;
		padding-top: 40%;
		position: relative;
		overflow: hidden;

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}


@media (max-width: 992px) {
	.contacts-map {
		&__content {
			padding-right: 0;
			padding-left: 0;
		}
		&__responsive-holder {
			padding-top: 60%;
		}
	}
}

@media (max-width: 768px) {
	.contacts-map {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
