.contacts {
	padding-top: 80px;
	&__title {
		.page-titling;
		color: #333333;
		text-transform: uppercase;
		padding-left: 11.4%;
		&:before {
			left: 60px;
		}
	}
	&__content {
		display: flex;
		padding-bottom: 60px;
		border-bottom: 1px solid #f2f2f2;
	}
	&__form-side {
		flex: 1 0 auto;
		width: 50%;
		padding-left: 11.4%;
	}
	&__form-side-descrip {
		.common-text;
		font-size: 16px;
		margin-top: 50px;
	}

	&__info-side {
		flex: 1 0 auto;
		width: 50%;
		padding-left: 10%;
	}
}


.contact-form {
	margin-top: 80px;
	&__input {
		font-family: "Roboto-Regular", sans-serif;
		font-size: 16px;
		padding: 20px;
		background: #f9f9f9;
		border: 0;
		outline: 0;
		width: 100%;
		margin-bottom: 50px;
		color: #000;
		&--textarea {
			height: 130px;
		}
	}

	&__submit-btn {
		display: block;
		font-family: "ProximaNovaExCn-Regular", sans-serif;
		font-size: 16px;
		border: 0;
		outline: 0;
		color: #fff;
		width: 50%;
		padding: 20px;
		background: #a9ce4f;
		cursor: pointer;
		&:hover,
		&:active,
		&:focus, {
			background: darken(#a9ce4f, 10%);
		}
	}
}

.contacts-info {
	&__row {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 160px;
	}
}

.info-item {
	margin-right: auto;
	&__title {
		font-family: "ProximaNovaExCn-Bold", sans-serif;
		font-size: 32px;
		color: #333;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	&__content {
		.common-text;
		font-size: 14px;
	}
	
}

.info-icon {
	flex-shrink: 0;
	width: 160px;
	height: 160px;
	margin-left: 20px;
	&--left {
		margin-right: 160px;
	}
	&--right {
		margin-right: 0;
	}
	&--last {
		margin-left: auto;
	}

	&--grey {
		background: #f9f9f9;
		background-repeat: no-repeat;
		background-size: 20%;
		background-position: center center;
	}
	&--blue {
		background: #00aae1;
		background-repeat: no-repeat;
		background-size: 20%;
		background-position: center center;
	}
	&--green {
		background: #a9ce4f;
	}
}



@media (max-width: 1450px) {
	.contacts {
		&__title {
			&:before {
				left: 30px;
			}
		}
		&__info-side {
			padding-left: 7%;
		}
	}
}


@media (max-width: 1200px) {
	.contacts {
		&__content {
			flex-direction: column;
		}
		&__form-side {
			width: 100%;
			order: 2;
			padding-left: 11.4%;
			padding-right: 20%;
		}
		&__info-side {
			width: 100%;
			order: 1;
			padding-left: 11.4%;
			padding-right: 20%;
		}
	}
}


@media (max-width: 992px) {
	.contacts {
		&__title {
			&:before {
				margin-left: -30px;
			}
		}
	}
}


@media (max-width: 768px) {
	.contacts {
		&__title {
			padding-left: 150px;
			&:before {
				margin-left: 30px;
			}
		}

		&__form-side {
			padding-right: 10%;
			padding-left: 10%;
		}
		&__info-side {
			padding-right: 0;
		}
	}
}

@media (max-width: 600px) {
	.contacts {
		&__form-side {
			padding-right: 20px;
			padding-left: 20px;
		}

	}
	.contact-form {
		margin-top: 40px;
	}

	.contacts-info {
		&__row {
			&--last {
				display: none;
			}
		}
	}

	.info-icon {
		width: 100px;
		height: 100px;

		&--left {
			margin-right: 0;
		}
		&--right {
			margin-right: 0;
		}
	}
}


@media (max-width: 375px) {
	.contacts {
		&__title {
			padding-left: 100px;
			&:before {
				margin-left: 0px;
			}
		}
	}
}