.sertification-advantages {
	position: relative;
	&__content {
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
		padding-top: 100px;
		padding-left: 100px;
		padding-bottom: 120px;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 220px;
			height: 220px;
			background: #2b5092;
			right: 100%;
			margin-top: -40px;
			margin-right: -30px;
		}
	}
	&__title {
		.subtitling;
		margin-bottom: 140px;
	}
	&__list-holder {
		display: flex;
		margin: 0 -40px;
	}
	&__list-col {
		margin: 0 40px;
	}
	&__list-item {
		.common-text;
		padding-left: 25px;
		position: relative;
		margin-bottom: 35px;
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 5px;
			height: 5px;
			background: #0077b3;
			top: 10px;
			left: 0;
			border-radius: 50%;
		}
	}
}



@media (max-width: 992px) {
	.sertification-advantages {
		&__content {
			padding-right: 10px;
			padding-bottom: 100px;
			&:before {
				width: 60px;
				height: 60px;
				margin-right: 0;
				margin-top: 0;
				left: 0;
			}
		}

	}
}

@media (max-width: 768px) {
	.sertification-advantages {
		&__title {
			margin-bottom: 50px;
		}
		&__content {
			padding-left: 20px;
			&:before {
				position: relative;
				float: left;
				margin-right: 30px;
			}
		}

		&__list-holder {
			flex-direction: column;
			margin: 0;
		}

		&__list-col {
			margin-left: 0;
			margin-right: 0;
		}

		&__list-item {
			margin-bottom: 20px;
		}

	}
}

