.sertification-blue-section {

	background: #2b5092;
	&__content {
		padding: 85px 0;
		width: 80%;

	}
	&__text {
		.common-text;
		color: #fff;
	}
}


@media (max-width: 768px) {
	.sertification-blue-section {
		&__text {
			padding: 0 20px;
		}
	}
}

@media (max-width: 520px) {
	.sertification-blue-section {

		&__content {
			padding: 30px 0;
			width: 100%;

		}
	}
}