.sertification-services {

	&__content {
		padding-top: 100px;
		padding-bottom: 100px;
		border-right: 1px solid #f2f2f2;
		border-left: 1px solid #f2f2f2;
		padding-left: 9.5%;
		padding-right: 9.5%;
	}
	&__title {
		.subtitling;
	}
	&__list-holder {
		margin-top: 80px;
	}
	&__list-row {
		
		display: flex;
		margin: 0 -40px;
	}
	&__list-item {
		.common-text;
		margin: 0 40px;
		flex: 1 0 30%;
		padding-left: 35px;
		margin-bottom: 75px;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 12px;
			height: 12px;
			background: #a9ce4f;
			left: 0;
			top: 6px;
		}
	}
}



@media (max-width: 768px) {
	.sertification-services {
		&__content {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		&__list-row {
			flex-direction: column;
			margin-left: 0;
			margin-right: 0;
		}
		&__list-item {
			margin-bottom: 30px;
			margin-left: 0;
			margin-right: 0;
		}
	}
}