.sertification-header {
	background-image: url(../img/bg/sertification/sertification-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	&__content {
		padding-top: 160px;
		padding-bottom: 170px;
	}
	&__title {
		.page-titling;
		width: 60%;
	}
}


@media (max-width: 768px) {
	.sertification-header {
		&__title {
			width: 100%;
		}
	}
}

@media (max-width: 425px) {
	.sertification-header {
		&__title {
			width: 100%;
			font-size: 32px;
		}
	}
}