.sertification-descrip {
	position: relative;
	&__label {
		.common-text;
		text-align: justify;
		position: relative;
		background: #fff;
		padding-left: 90px;
		padding-top: 75px;
		padding-bottom: 20px;
		padding-right: 18.37%;
		width: 55%;
		top: -70px;

	}
	&__content {
		display: flex;
		align-items: center;
		border-right: 1px solid #f2f2f2;
	}

	&__img {
		flex: 0 0 auto;
		width: 40%;
		height: 0;
		padding-top: 33.3%;
		margin-right: 75px;
		background-image: url(../img/bg/sertification/content-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	&__text {
		.common-text;
		text-align: justify;
		padding-right: 75px;
	}
}

@media (max-width: 425px) {
	.sertification-descrip {
		&__label {
			width: 90%;
			padding-top: 30px;
		}

	}
}

@media (max-width: 768px) {
	.sertification-descrip {
		&__label {
			width: 70%;
		}
	}
}

@media (max-width: 992px) {
	.sertification-descrip {
		.inner-left-container {
			margin-right: 0;
		}


		&__text {
			padding-right: 10px;
			padding-left: 10px;
		}

		&__label {
			text-align: left;
			padding-right: 8%;
			padding-left: 8%;
		}
	}

	.sertification-img-section {
		.inner-left-container {
			margin-right: 0;
		}
	}

}

@media (max-width: 1200px) {
	.sertification-descrip {
		&__content {
			display: block;
			overflow: hidden;
		}

		&__img {
			float: left;
			margin-right: 20px;
		}
	}
}