.footer {
	padding-top: 60px;
	background-image: url(../img/general/footer-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center left;
	color: #fff;
	&__inner-wrapper {
		display: flex;
		padding-left: @content-padding;
		padding-bottom: 100px;
	}
	&__left-side {
		width: 50%;
		display: flex;
	}
	&__adress {
		width: 50%;
	}
	&__services {
		font-family: "Roboto-Regular", sans-serif;
		font-size: 16px;
	}

	&__services-item {
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: #fff;
		}
		
		&:hover,
		&:active,
		&:focus, {
			a {
				color: #a9ce4f;
			}
		}
	}
	&__bottom-line {
		padding-bottom: 45px;
	}
}

.footer-adress-item {
	margin-bottom: 40px;
	margin-right: 20px;
	&:last-child {
		margin-bottom: 0;
	}
	&__title {
		font-family: "ProximaNovaExCn-Bold", sans-serif;
		font-size: 22px;
		margin-bottom: 10px;
	}
	&__text {
		font-family: "ProximaNovaExCn-Light", sans-serif;
		font-size: 20px;
	}
}


.footer-form {
	padding-left: 10.2%;
	&__top {
		display: flex;
	}
	&__bottom {
		display: flex;
		justify-content: flex-end;
		margin-top: 50px;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			background: #e4e4e4;
			height: 1px;
			left: 0;
			width: 50%;
			top: 50%;
		}
	}
	&__left-side {
		width: 40%;
		padding-right: 30px;
	}
	&__right-side {
		width: 60%;
	}

	&__input {
		width: 100%;
		font-family: "ProximaNovaExCn-Regular", sans-serif;
		font-size: 16px;
		line-height: 3.75;
		border: 0;
		border-top: 1px solid #e4e4e4;
		background: transparent;
		outline: none;
		color: #fff;
		&::placeholder {
			color: #fff;
		}
	}
	&__textarea {
		font-family: "ProximaNovaExCn-Regular", sans-serif;
		font-size: 22px;
		background: transparent;
		border: 1px solid #e4e4e4;
		width: 100%;
		height: 100%;
		padding: 30px;
		color: #fff;
		outline: 0;
		&::placeholder {
			color: #fff;
		}
	}
	&__submit-btn {
		background: #a9ce4f;
		font-family: "ProximaNovaExCn-Regular", sans-serif;
		font-size: 22px;
		color: #fff;
		cursor: pointer;
		padding-top: 25px;
		padding-bottom: 25px;
		border: 0;
		width: 50%;
		outline: none;
		position: relative;
		&:hover,
		&:active,
		&:focus, {
			background: darken(#a9ce4f, 10%);
		}

		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 20px;
			height: 20px;
			background: red;
			top: 0;
			right: 0;
		}
		
	}
}


.footer-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__logo {
		flex: 0 0 225px;
		height: 45px;
		width: 225px;
		background-image: url(../../img/general/sidebar-logo.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}

	&__lang {
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
		&:hover,
		&:active,
		&:focus, {
			color: #a9ce4f;
		}
	}
	&__menu-holder {
		display: flex;
		justify-content: flex-end;
		
	}
	&__menu-item {
		flex: 1 0 auto;
		margin: 0 3.4%;
		font-family: "Roboto-Bold", sans-serif;
		font-size: 18px;
		a {
			color: #fff;
		}
		i.mr10 {	
			margin-right: 10px;
		}

		&--lang-holder {
			margin-right: 20px;
		}

		&:hover,
		&:active,
		&:focus, {
			.footer-nav__menu-item-link {
				color: #a9ce4f;
			}
			
		}
	}
}

.footer-copyright {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;

	&__text {
		font-family: "ProximaNovaExCn-Regular", sans-serif;
		font-size: 22px;
		color: #fff;
	}
	&__ns-logo {
		width: 90px;
		height: 35px;
		background-image: url(../img/general/nova-solutio.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
}




@media (max-width: 1200px) {
	.footer {
		&__inner-wrapper {
			flex-direction: column;
		}
		&__left-side {
			width: 100%;
		}
	}
	.footer-form {
		margin-top: 50px;
		padding-left: 0;
	}
}

@media (max-width: 768px) {
	.footer {
		&__left-side {
			flex-direction: column;
		}
		&__adress {
			width: 100%;
		}
		&__services {
			width: 100%;
			margin-top: 40px;
		}
		&__services-item {
			margin-bottom: 20px;
		}
	}
	.footer-adress-item {
		margin-bottom: 15px;
	}

	.footer-nav {
		flex-direction: column;
		&__logo {
			flex-basis: auto;
			margin-bottom: 20px;
		}
		&__menu-holder {
			
		}
	}
}


@media (max-width: 590px) {
	.footer-form {
		&__top {
			flex-direction: column;
		}
		&__left-side {
			width: 100%;
			padding-right: 0;
		}
		&__right-side {
			width: 100%;
		}

		&__input {
			margin-bottom: 15px;
		}
	}

	.footer-nav {
		align-items: center;

		&__menu-holder {
			width: 100%;
			flex-direction: column;
			align-items: center;
		}

		&__menu-item {
			margin-bottom: 15px;
		}
	}

	.footer-copyright {
		&__text {
			font-size: 18px;
		}
	}
}