.sidebar {
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 4.4%;
	padding-left: 2.1%;
	padding-top: 4.4%;
	padding-bottom: 4.4%;
	width: 30.4%;
	border: 1px solid #e8e8e8;
	border-right: 0;
	margin-top: 25px;
	background: #fff;
	z-index: 300;
	&__item {
		font-family: "Roboto-Bold", sans-serif;
		font-size: 16px;
		line-height: 1.56;
		margin-bottom: 35px;
		padding-left: 15px;
		transition: padding .3s ease-in-out;
		
		a {
			color: #a3a3a3;
			transition: color .3s ease-in-out;
		}
		&:last-child {
			margin-bottom: 0;
		}

		&:hover,
		&:active,
		&:focus, {
			padding-left: 0;
			a {
				color: #000;
			}
		}
	}
}



@media (max-width: 992px) {
	.sidebar {
		display: none;
	}
}