.topline {
	padding: 20px 0;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 18px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo {
		flex: 0 0 225px;
		background-image: url(../img/general/sidebar-logo.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		height: 45px;
		width: 225px;
		display: inline-block;
		&--dark {
			background-image: url(../img/general/sidebar-logo-black.png);
		}
	}
	&__lang-holder {
		display: inline-block;
		margin-left: 15.4%;
		margin-right: 15.4%;
	}

	&__lang {
		color: #fff;
		margin-right: 40px;
		transition: color .2s ease-in-out;
		&:last-child {
			margin-right: 0;
		}
		&:hover,
		&:active,
		&:focus, {
			color: #00aae1;
		}

		&--dark {
			color: #333333;
		}
	}

	&__menu-holder {
		flex: 1 0 auto;
		margin-left: auto;
		display: inline-block;
	}

	.nav-menu-trigger {
		display: none;
		cursor: pointer;
	}

}


.nav-menu {
	display: flex;
	justify-content: flex-end;

	&__item {
		flex: 0 0 auto;
		display: inline-block;
		margin-right: 3.2%;
		padding: 25px 0;
		&:last-child {
			margin-right: 0;
		}

		a {
			color: #fff;
			transition: color .2s ease-in-out;
			&:hover,
			&:active,
			&:focus, {
				color: #00aae1;
			}
		}

		i.mr10 {	
			margin-right: 10px;
		}
		i.ml10 {
			margin-left: 10px;
		}
	}
}


.nav-menu-trigger {
	position: absolute;
	top: 28px;
	right: 30px;
	width: 30px;
	height: 30px;

	&.js-is-open {
		z-index: 999999;
		span {
			height: 0;
			&:before {
				transform: rotate(-45deg) translate(0, 6px);
			}
			&:after {
				transform: rotate(45deg) translate(0, 6px);
			}
		}
	}

	span {
		transform-origin: center center;
		display: block;
		position: absolute;
		height: 3px;
		width: 30px;
		background: #fff;
		top: 13px;
		left: 0;
		transition: height .3s ease-in-out;

		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			height: 3px;
			width: 30px;
			background: #fff;
			transition: transform .3s cubic-bezier(.6,.23,.48,1.29);
		}

		&:before {
			transform-origin: center left;
			transform: translateY(-10px);
		}
		&:after {
			transform-origin: center right;
			transform: translateY(10px);
		}
	}
}

.drop-menu-holder {

	position: relative;
	display: block;
	&:hover,
	&:active,
	&:focus, {
		.drop-menu {
			display: block;
		}
	}
}
.drop-menu {
	display: none;
	width: 550px;
	padding: 40px 60px;
	background: #004396;
	position: absolute;
	top: 100%;
	margin-right: 100px;
	margin-left: -45px;
	z-index: 99999;
	&__item {
		font-family: "Roboto-Bold", sans-serif;
		font-size: 14px;
		padding-bottom: 20px;
		position: relative;
		margin-bottom: 20px;
		display: block;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 5px;
			height: 5px;
			background: #a9ce4f;
			display: block;
			border-radius: 5px;
			transition: width .3s ease-in-out;
		}

		&:hover,
		&:active,
		&:focus, {
			&:before {
				width: 100%;
			}
		}
	}

}


@media (max-width: 1600px) {
	.topline {
		font-size: 14px;
		&__lang-holder {
			margin-left: 7%;
			margin-right: 7%;
		}
	}
}


@media (max-width: 1200px) {
	.topline {
		&__menu-holder {
			flex-grow: 0;
			margin-left: 0;
		}
		&__lang-holder {
			margin-left: auto;
			margin-right: 50px;
		}
		.nav-menu-trigger {
			display: inline-block;
		}
	}
	.nav-menu {
		display: none;
	
		&.js-open {
			z-index: 100;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			position: absolute;
			right: 0;
			top: 0;
			height: 100vh;
			background: #274e55;
			padding: 10px;
			padding-left:50px;
			width: 320px;
			font-size: 20px;
			padding-top: 40px;
			.nav-menu__item {
				margin-right: 0;
				margin-bottom: 5%;
				padding: 10px 0;
				width: 100%;
			}
			.drop-menu {
				width: 100%;
				left: 0;
				margin: 0;
				z-index: 200;
				padding: 10px;
				left: -25px;
				&__item {
					padding-bottom: 0;
					&:before {
						display: none;
					}
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.nav-menu-trigger {
		&--about {
			span {
				background: #333;
				&:before, &:after {
					background: #333;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.topline {
		justify-content: flex-start;
		&__lang-holder {
			margin-left: auto;
			margin-right: 100px;
		}
	}
}

@media (max-width: 475px) {
	.topline {
		justify-content: flex-start;
		&__logo {
			flex: 0 1 100px;
		}
	}

	.nav-menu {
		&.js-open {
			width: 100%;
			padding-left: 10px;
			.drop-menu {
				left: 0;
			}
		}

		
	}
}

@media (max-width: 350px) {
	.topline {
		justify-content: flex-start;
		&__logo {
			flex: 0 1 120px;
		}
		&__lang-holder {
			margin-right: 70px;
		}

		&__lang {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}