.about-header {
	position: relative;
	background-image: url(../img/bg/about/about-main-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
	&__content {
		padding-left: @content-padding;
		width: 40%;
		padding-top: 150px;
		padding-bottom: 150px;
		
	}
	&__title {
		font-family: "ProximaNovaExCn-Bold", sans-serif;
		font-size: 48px;
		color: #fff;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			height: 6px;
			width: 60px;
			background: #a9ce4f;
			top: 50%;
			right: 100%;
			margin-right: 30px;
			transform: translateY(-50%);
		}
	}
	&__text {
		font-family: "ProximaNovaExCn-Regular", sans-serif;
		font-size: 24px;
		line-height: 1.5;
		color: #fff;
	}
}



@media (max-width: 992px) {
	.about-header {
		&__abs-bg {
			background-image: none
		}
		&__content {
			width: 100%;
			padding-left: 90px;
			padding-top: 50px;
			padding-bottom: 50px;	
		}
	}
}