.about-descrip {
	position: relative;
	.abs-box {
		bottom: 0;
		left: 0;
		transform: translateX(-20%);
	}
	&__abs-bg {
		position: absolute;
		width: 40.66%;
		height: 0;
		padding-top: 40.66%;
		background-image: url(../img/bg/about/about-descrip-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		right: 0;
		top: 0;
		transform: translateX(50%);

	}
	&__content {
		// padding-top: 150px;
		padding-bottom: 130px;
		padding-right: 30.63%;
		font-family: "Roboto-Regular", sans-serif;
		font-size: 18px;
		line-height: 1.5;
		border-left: 1px solid #f2f2f2;
		border-right: 1px solid #f2f2f2;
		position: relative;
		text-align: justify;
	}
	&__text {
		margin-bottom: 70px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}



@media (max-width: 992px) {
	.about-descrip {
		.abs-box {
			display: none;
		}
		&__content {
			padding-right: 0;
			right: 0;
			padding-top: 50px;
			padding-bottom: 50px;

		}
		&__abs-bg {
			position: relative;
			float: right;
			transform: none;
			margin-left: 30px;
		}
	}
}