.mission {
	&__content {
		padding-left: 100px;
		padding-top: 100px;
		padding-bottom: 120px;
		border-left: 1px solid #f2f2f2;
		border-right: 1px solid #f2f2f2;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 220px;
			height: 220px;
			background: #004396;
			right: 100%;
			margin-top: -10px;
			margin-right: -30px;
		}
		.abs-box {
			left: 100%;
			bottom: 0;
		}
	}
	&__title {
		font-family: "ProximaNovaExCn-Bold", sans-serif;
		font-size: 35px;
		color: #333;
		margin-bottom: 30px;
		border-bottom: 4px solid #004396;
		display: inline-block;
	}
	&__text {
		font-family: "Roboto-Regular", sans-serif;
		font-size: 18px;
		line-height: 1.5;
		color: #000;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}



@media (max-width: 992px) {
	.mission {
		&__content {
			padding-bottom: 50px;
			&:before {
				width: 60px;
				height: 60px;
				margin-right: 0;
				margin-top: 0;
				left: 0;
			}
			.abs-box {
				display: none;
			}
		}
	}
}

@media (max-width: 520px) {
	.mission {
		&__content {
			padding-left: 0;
			&:before {
				position: relative;
				float: left;
				margin-right: 30px;
			}

		}
	}
}