.spheres {
	&__abs-bg {
		background-image: url(../img/bg/about/spheres-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: 28.38%;
		height: 0;
		padding-top: 28.38%;
		position: absolute;
		z-index: 20;
	}
	&__content {
		padding-top: 30px;
		padding-left: 28.7%;
		position: relative;
		border-left: 1px solid #f2f2f2;
		border-right: 1px solid #f2f2f2;
		.abs-box {
			z-index: -1;
			left: 60%;
			transform: translateX(-50%);
			top: 50px;
		}
	}
	&__title {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 35px;
		line-height: 1.3;
		margin-bottom: 70px;
	}
	&__list-holder {
		display: flex;

	}
	&__list-col {
		margin-right: 60px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__list-item {
		font-family: "Roboto-Regular", sans-serif;
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 55px;
		padding-left: 35px;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 5px;
			left: 0;
			width: 12px;
			height: 12px;
			background: #a9ce4f;
		}
	}
}


@media (max-width: 992px) {
	.spheres {
		&__content {
			padding-bottom: 50px;
			padding-top: 50px;
		}
	}
}

@media (max-width: 768px) {
	.spheres {
		&__abs-bg {
			display: none;
		}
		&__content {
			padding-left: 100px;
		}
	}
}


@media (max-width: 550px) {
	.spheres {
		&__content {
			padding-left: 20px;
		}
	}
}

@media (max-width: 450px) {
	.spheres {
		&__list-holder {
			flex-direction: column;
		}
		&__list-item {
			margin-bottom: 20px;
		}
	}
}