* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto-Regular", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #000;
	overflow-x: hidden;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.inner-container {
	margin-left: 16.34%;
	margin-right: 24%;

	@media (max-width: 992px) {
		margin-left: 0;
		margin-right: 0;
	}
}

.inner-left-container {
	margin-right: 24%;
}

.page-titling {
	font-family: "ProximaNovaExCn-Bold", sans-serif;
	font-size: 48px;
	line-height: 1.05;
	color: #fff;
	padding-left: 90px;
}

.title-line {
	position: relative;
	&:before {
		content: '';
		height: 6px;
		width: 60px;
		background: #a9ce4f;
		position: absolute;
		top: 15px;
		left: 0;
	}
}

.subtitling {
	font-family: "ProximaNovaExCn-Bold", sans-serif;
	font-size: 35px;
	color: #333333;
	line-height: 1;
}

.common-text {
	font-family: "Roboto-Regular", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.pos-rel {
	position: relative;
}

.abs-box {
	width: 222px;
	height: 222px;
	background: #f7f7f7;
	position: absolute;
}

a {
	text-decoration: none;
	color: #333;
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

ul {
	margin-bottom: 0;
}