.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 1920px) {
	.container {
		width: 1600px;
	}
}

@media (min-width: 1600px) {
	.container {
		width: 1450px;
	}
}

@media (min-width: 1450px) {
	.container {
		width: 1300px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}