.main-header {
	background-image: url(../img/bg/main/main-hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;

	&__content {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	&__title {
		font-family: "ProximaNovaExCn-Bold", sans-serif;
		font-size: 70px;
		line-height: 1;
		color: #fff;
		&--underlined {
			display: inline-block;
			padding-bottom: 10px;
			border-bottom: 6px solid #a9ce4f;
			margin-bottom: 55px;
		}
	}

	&__more-link {
		font-family: "ProximaNovaExCn-Bold", sans-serif;
		font-size: 23px;
		color: #fff;
		position: relative;
		display: inline-block;
		margin-top: 75px;

		&:after {
			content: '\f078';
			position: absolute;
			font-family: "FontAwesome", sans-serif;
			display: block;
			width: 45px;
			height: 45px;
			border: 2px solid #fff;
			border-radius: 50%;
			background: transparent;
			text-align: center;
			line-height: 45px;
			top: -6px;
			left: 100%;
			margin-left: 30px;
		}
		&:hover,
		&:active,
		&:focus, {
			color: @hover-color;
			&:after {
				border-color: @hover-color;
			}
		}
	}
}

.main-categories {
	display: flex;
	width: 100%;
	margin-top: 80px;

	&__col {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&:first-child {
			margin-right: 18.6%;
		}
	}
	&__item {
		position: relative;
		font-family: "Roboto-Bold", sans-serif;
		font-size: 22px;
		line-height: 1;
		width: 100%;
		color: #fff;
		padding-bottom: 15px;
		margin-bottom: 30px;
		display: inline-block;

		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 5px;
			width: 5px;
			border-radius: 5px;
			background: #00aae1;
			transition: width .3s ease-in-out;
		}
		&:hover,
		&:active,
		&:focus, {
			&:before {
				width: 100%;
			}
		}
	}
}


@media (max-width: 635px) {
	.main-header {
		&__title {
			font-size: 40px;
		}
		&__more-link {
			text-align: center;
			width: 100%;
			&:after {
				left: 50%;
				top: 100%;
				margin-left: 0;
				margin-top: 15px;
				transform: translateX(-50%);
			}
			
		}
	}
	.main-categories {
		flex-direction: column;
	}
}