.partners {
	padding-top: 90px;
	&__title {
		font-family: "ProximaNovaExCn-Bold", sans-serif;
		font-size: 48px;
		color: #333;
		text-align: center;
	}
	&__holder {
		margin-top: 120px;
		padding-left: @content-padding;
		padding-right: @content-padding;
	}
	&__row {
		display: flex;
		align-items: center;
		margin: 0 -25px;
		margin-bottom: 150px;
		
	}
	&__item {
		margin: 0 25px;
		flex: 1 1 340px;
		
		display: block;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}


@media (max-width: 992px) {
	.partners {
		&__row {
			flex-direction: column;
			margin-bottom: 0;
		}
		&__item {
			flex-basis: auto;
			margin-bottom: 40px;
		}
	}
}
