.services {
	padding-top: 220px;
	padding-bottom: 220px;
	&__content {
		padding: 0 @content-padding;
		padding-top: 220px;
		position: relative;
		&:before {
			content: 'Наші послуги';
			display: block;
			position: absolute;
			width: 440px;
			height: 440px;
			background: #a9ce4f;
			color: #fff;
			font-family: "ProximaNovaExCn-Bold", sans-serif;
			font-size: 40px;
			text-align: center;
			line-height: 400px;
			top: 0;
			left: 0;
		}
	}
}


.serv-item {
	display: flex;
	align-items: center;
	width: 65%;
	overflow: hidden;
	height: 220px;
	&__icon {
		flex: 0 0 220px;
		width: 220px;
		height: 220px;
		margin-right: 40px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		.curtain {
			position: absolute;
			top: -100%;
			width: 100%;
			height: 100%;
			background: #00aae1;
			color: #fff;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: top .5s ease-in-out;
			opacity: .9;
		}
		.curtain-text {
			font-family: "ProximaNovaExCn-Bold", sans-serif;
			font-size: 30px;
			line-height: 1;
			display: inline-block;
			position: relative;
			color: #fff;
			margin-top: -22px;

			&:before {
				content: '\f078';
				font-family: "FontAwesome", sans-serif;
				position: absolute;;
				display: block;
				width: 22px;
				height: 12px;
				top: 100%;
				left: 50%;
				margin-left: -11px;
				margin-top: 22px;
			}
		}

	}
	
	&__title {
		font-family: "ProximaNovaExCn-Bold", sans-serif;
		font-size: 35px;
		line-height: 1;
		margin-bottom: 30px;
		transition: color .1s ease-in-out;
	}
	&__text {
		font-family: "Roboto-Light", sans-serif;
		font-size: 16px;
		line-height: 1.5;
	}

	&:hover,
	&:active,
	&:focus, {
		.curtain {
			top: 0;
		}
		.serv-item__title {
			color: @hover-color;
		}
	}
}


.ml-34 {
	margin-left: 34.52%;
}

.ml-50 {
	margin-left: 50%;
}

.ml-67 {
	margin-left: 65%;
	width: 50% !important;
}


@media (max-width: 1450px) {
	.services {
		&__content {
			padding-top: 175px;
			&:before {
				width: 350px;
				height: 350px;
				line-height: 350px;
			}
		}
	}

	.serv-item {
		height: 175px;
		&__icon {
			width: 175px;
			flex-basis: 175px;
		}

		&__title {
			font-size: 26px;
		}

		&__text {
			font-size: 14px;
		}

	}
}

@media (max-width: 1200px) {
	.serv-item {
		margin-bottom: 20px;

		&__title {
			margin-bottom: 15px;
		}
	}

	.ml-34 {
		margin-left: 40%;
	}
}


@media (max-width: 992px) {
	.services {
		padding: 100px 0;
		&__content {
			&:before {
				width: 100%;
				height: 100px;
				line-height: 100px;
			}
		}
	}

	.serv-item {
		width: 100%;
	}

	.ml-34, .ml-50, .ml-67 {
		margin-left: 0;
		width: 100% !important;
	}
}

@media (max-width: 640px) {
	.services {
		&__content {
			padding-left: 0;
			padding-right: 0;
			padding-top: 120px;
			&:before {
			}
		}
	}

	.serv-item {
		height: auto;
		&__icon {
			height: 175px;
		}
	}
}

@media (max-width: 510px) {
	.serv-item {
		&__icon {
			width: 100px;
			height: 100px;
			flex-basis: 100px;
			align-self: flex-start;
			margin-right: 20px;
			.curtain-text {
				font-size: 18px;
			}
		}
	}
}