.work-scheme {
	padding-bottom: 80px;
	&__title {
		font-family: "ProximaNovaExCn-Bold", sans-serif;
		font-size: 48px;
		color: #333333;
	}
	&__items-holder {
		display: flex;
		justify-content: space-between;
		margin: 0 -25px;
		border-top: 1px solid #a9ce4f;
		margin-top: 80px;
	}
}

.scheme-item {
	flex: 1 0 150px;
	margin: 0 25px;
	padding-top: 70px;
	position: relative;
	transition: padding .3s ease-in-out;
	cursor: default;
	&__title {
		font-family: "ProximaNovaExCn-Bold", sans-serif;
		font-size: 22px;
		margin-bottom: 30px;
		color: #004396;
	}
	&__text {
		font-family: "Roboto-Regular", sans-serif;
		font-size: 16px;
		line-height: 1.5;
		color: #a3a3a3;
	}

	&:before, &:after {
		content: '';
		position: absolute;
		border-radius: 50%;
		transition: transform .3s ease-in-out;
	}

	&:before {
		top: -10px;
		left: 0;
		display: block;
		width: 20px;
		height: 20px;
		background: #fff;
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);
	}
	&:after {
		width: 10px;
		height: 10px;
		background: #a9ce4f;
		left:5px;
		top: -5px;
	}

	&:hover,
	&:active,
	&:focus, {
		padding-top: 55px;
		&:before, &:after {
			transform: scale(1.4);
		}

	}
}


@media (max-width: 992px) {
	.work-scheme {
		&__items-holder {
			flex-direction: column;
			border-top: 0;
			border-left: 1px solid #a9ce4f;
			margin: 0;
			margin-top: 40px;
		}
	}

	.scheme-item {
		padding-top: 0;
		padding-left: 25px;
		margin: 0;
		flex-basis: auto;
		margin-bottom: 30px;
		&__title {
			margin-bottom: 10px;
		}
		&:before, &:after {
			margin-top: 20px;
		}

		&:before {
			left: -10px;
		}

		&:after {
			left: -5px;
		}

		&:hover,
		&:active,
		&:focus, {
			padding-top: 0;
		}
	}
}