.consulting-programs {

	&__content {
		margin-left: 15.3%;
		padding-top: 140px;
		padding-bottom: 140px;
	}
	&__title {
		.subtitling;
	}
	&__list {
		margin-top: 75px;
	}
	&__list-row {
		display: flex;
		margin: 0 -20px;
		margin-bottom: 80px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__list-item {
		.common-text;
		flex: 1 0 25%;
		margin: 0 20px;
		font-size: 14px;
		padding-left: 30px;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 12px;
			height: 12px;
			background: #a9ce4f;
			top: 5px;
			left: 0;
		}
	}
}

@media (max-width: 1200px) {
	.consulting-programs {
		&__content {
			margin-left: 10%;
		}
	}
}

@media (max-width: 992px) {
	.consulting-programs {
		.inner-left-container {
			margin-right: 0;
		}
		&__content {
			margin-left: 0;
		}
	}
}

@media (max-width: 620px) {
	.consulting-programs {
		
		&__content {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		&__list-row {
			flex-direction: column;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 0;
		}

		&__list-item {
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 30px;
			font-size: 16px;
		}
	}
}